
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
*= require toastr
 */

.fix-it {
  margin-left: 69x !important;
}

.space-left {
margin-left: 15px;
}

.space-top {
margin-top: 6px;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

ul li {
	list-style: none;
}

a,
span {
	display: inline-block;
}

.text-center {
	text-align: center;
}

body {
	font-size: 16px;
	/* font-family: 'Poppins', sans-serif; */
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	background-color: #f9f9f9;
	/* font-family: 'Open Sans', sans-serif; */
}

.ui.grid>* {
	padding: 0px;
}

.ui.grid {
	margin: 0px;
}

.ui.grid>.column:not(.row) {
	padding: 0px;
}

.ui.card,
.ui.cards>.card {
	box-shadow: inherit;
}

h1,
h2,
h3,
h4,
h5, ._h1 {
	margin: 0px;
}

.ui.secondary.menu {
	margin: 0;
}

.header {
	height: 64px;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	background-color: #ffffff;
}

.header .ui.menu {
	align-items: center;
}

.header .ui.menu .logo h1, ._h1 {
	font-size: 16px !important;
	color: #161616;
	letter-spacing: 0.99px !important;
	font-weight: 400 !important;
}

.header .ui.menu .logo img {
	width: 28px;
}

.header .ui.menu .item {
	font-size: 14px;
	color: rgba(0, 0, 0, 0.6);
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	padding: 10px 20px;
	border-radius: 4px;
}

.header .ui.menu .active.item,
.header .ui.menu a.item:hover,
.header .ui.menu .active.item:hover {
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	background-color: #ffffff;
}

.ui.cards {
	margin: 0px;
}

.ui.cards>.card {
	margin: 0px;
}

.ui.card>.content,
.ui.cards>.card>.content {
	padding: 0px;
}

.ui.transparent[class*="left icon"].input>input {
	padding-left: 1.5em !important;
}

.ui.transparent.icon.input>i.icon {
	color: rgba(0, 0, 0, 0.4);
}

.ui.input>input::placeholder {
	font-size: 13px;
}

.meme-slider .ui.grid .column {
	padding: 25px 8px;
	width: 24.7% !important;
}

.video-slider .column {
	padding: 25px 8px;
}

.banner {
	margin-bottom: 10px;
}

.latest-meme {
	padding-bottom: 50px;
}

.latest-meme .ui.card {
	border: solid 1px #dadadb;
	border-radius: 0px 0px 4px 4px;
	background: inherit;
}

.meme-img {
	width: 100%;
}

.meme-status {
	border-top: solid 1px #dadadb;
}

.meme-status .content {
	padding: 16px;
	border-bottom: solid 1px #dadadb;
}

.meme-status .extra.content {
	border-bottom: inherit;
}

.meme-status .likes-sectn {
	font-size: 13px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.87);
}

.meme-status .likes-sectn i.icon {
	font-size: 16px;
	width: 16px;
	height: 16px;
	color: #feb100;
	margin: 0px;
	margin-right: 7px;
}

.meme-status .upload {
	display: flex;
	height: 109px;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.heading {
	position: relative;
	display: inline-block;
	padding: 0px 30px 16px 30px;
	font-family: 'Poppins', sans-serif;
}

.heading::before {
	content: '';
	position: absolute;
	border: 2px solid #feb100;
	width: 100%;
	height: 38px;
	left: 0;
	z-index: -1;
	bottom: 5px;
}

.heading h3 {
	display: inline-block;
	font-size: 34px;
	line-height: 48px;
	font-weight: 400;
	padding: 0px 0px 0px 20px;
	background-color: #f9f9f9;
	letter-spacing: 1px;
	font-family: 'Poppins', sans-serif;
}

.heading h3 b {
	font-weight: 700;
	padding-left: 5px;
}

.video-bg {
	position: relative;
}

.video-bg::after {
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(22, 22, 22, 0.5);
	z-index: 1;
}

.video-icon {
	position: absolute;
	cursor: pointer;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}

.content-sec {
	padding: 80px 0px;
	background-color: #eeeeee;
}

.content-sec .ui.list li {
	font-size: 20px;
	line-height: 28px;
	padding: 8px 0px;
	font-family: 'Poppins', sans-serif;
}

.content-sec .ui.list h3 {
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	padding-bottom: 12px;
}

.content-sec .ui.list ul {
	width: 83%;
}

.content-sec .ui.list ul li {
	font-size: 17px;
	line-height: 24px;
	font-family: 'Poppins', sans-serif;
	color: rgba(0, 0, 0, 0.5);
	font-weight: 500;
}

.ui.footer {
	padding: 35px 0px 15px;
}

.ui.footer .logo h1, ._h1 {
	font-size: 22px;
	font-weight: 400 !important;
  letter-spacing: 1px !important;
  color: black !important;
}

.ui.footer .ui.list a i {
	font-size: 18px;
	color: rgba(0, 0, 0, 0.8);
}

.ui.footer p {
	font-size: 17px;
	color: rgba(0, 0, 0, 0.35);
}

.ui.footer .ui.horizontal.list>.item>i.icon {
	padding: 0px 35px;
}

.ui.footer .ui.centered.grid>.column:not(.aligned):not(.justified):not(.row) {
	text-align: inherit;
}

.ui.footer .ui.divider {
	border-color: #7c7c7c;
}

.banner {
	padding: 30px 0px;
}

.bner-content h2 {
	font-size: 24px;
	color: rgba(0, 0, 0, 0.87);
	font-family: 'Lato', sans-serif;
	font-weight: 500;
}

.bner-content .lists li {
	list-style: url(../images/list-icon.svg);
	list-style-position: inside;
	font-size: 16px;
	line-height: 22px;
	font-family: 'Open Sans', sans-serif;
	padding: 10px 0px;
	color: rgba(0, 0, 0, 0.6);
}

.bner-content p {
	font-size: 16px;
	line-height: 24px;
	padding: 15px 0px;
	font-family: 'Open Sans', sans-serif;
	color: rgba(0, 0, 0, 0.8);
}

.bner-content .ui.default.button {
	background-color: #f9f9f9;
	color: #feb100
}

.ui.button {
	border-radius: 4px;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.bner-status .ui.primary.button {
	background-color: #feb100;
	font-size: 14px;
	color: #161616;
	font-family: 'Lato', sans-serif;
}

.ui.statistics {
	padding: 14px 0px 20px;
}

.ui.statistics>.statistic {
	padding: 0px 10px;
}

.ui.statistics,
.ui.statistics>.statistic {
	margin: 0px !important;
}

.ui.statistics .statistic>.value {
	font-size: 12px !important;
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 600 !important;
	color: #161616 !important;
}

.ui.statistics .statistic>.value~.label {
	font-size: 9px !important;
	color: #707070 !important;
	font-family: 'Open Sans', sans-serif !important;
	text-transform: capitalize !important;
	font-weight: 600 !important;
}

.spread-status .ui.statistics {
	text-align: center;
}

.spread-status .ui.button {
	background-color: #3a5998;
	color: #ffffff;
}

.vote-status {
	text-align: right;
}

.vote-status .ui.statistics {
	justify-content: flex-end;
}

.spread-status .ui.statistics {
	justify-content: center;
}

.spread-status {
	width: 112px;
	display: block;
	text-align: right;
	margin: 0 0 0 auto;
}

.comments {
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	background-color: #f9f9f9;
}

.comments .headr {
	padding: 6px 12px;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	background-color: #feb100;
	border-radius: 4px 4px 0px 0px;
}

.comments .headr h3 {
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}

.name-profile {
	float: left;
	padding: 0px 10px;
	overflow: hidden;
	position: relative;
}

.profile-status {
	float: left;
	width: calc(100% - 54px);
}

.name-time h3 {
	font-size: 14px;
	line-height: 32px;
	color: #000000;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	display: inline-block;
}

.name-time span {
	float: right;
	font-size: 8px;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
}

.name-profile span {
	width: 34px;
	height: 34px;
	line-height: 34px;
	font-size: 20px;
	text-align: center;
	color: #3a9ddf;
	border-radius: 50%;
	background-color: #e9ecf0;
}

.name-profile i {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	font-size: 6px;
	border: solid 2px #ffffff;
	background-color: #feb100;
	position: absolute;
	bottom: 0;
	right: 0;
	line-height: 10px;
	color: #ffffff;
}

.descrptn {
	height: 30px;
	border-left: 2px solid #e9ecf0;
}

.descrptn p {
	font-size: 12px;
	line-height: 28px;
	padding-left: 6px;
	color: #7c8494;
}

.likes-status {
	padding: 10px 0px 0px;
}

.likes-status i {
	font-size: 13px;
}

.likes-status .like.icon {
	font-size: 13px;
	color: #feb100;
}

.comments .ui.card {
	margin: 0px;
	background-color: #f9f9f9;
}

.comments-card {
	width: 100%;
	display: inline-block;
	padding: 10px 12px 10px 0px;
	border-bottom: 2px solid #e9ecf0;
}

.comments-card:last-child {
	border-bottom: inherit;
}

.comments .extra.content {
	background-color: #ffffff;
	padding: 10px;
	position: relative;
}

.record {
	position: absolute;
	right: 0px;
	top: 50%;
	transform: translateY(-50%);
}

.record i {
	width: 35px;
	height: 35px;
	line-height: 35px;
	background-color: #feb100;
	border-radius: 50%;
	color: #ffffff;
	border-radius: 50%;
	text-align: center;
}

.comments .extra.content textarea {
	border: inherit;
}

.comments .extra.content textarea:focus {
	outline: none;
}

.comments .extra.content textarea::placeholder {
	font-size: 9px;
	font-family: 'Poppins', sans-serif;
}

.comments .extra.content .ui.icon.input>i.icon {
	top: 10px;
}

.fit-size {
	font-size: 10px !important;
}